name: Selenium Test Workflow

on: push

jobs: 
    Selenium_Test_Job1: 
        name: Selenium Test Job
        runs_on: windows-latest
        
            steps:
              - runs: echo "Thiis running inside a ${{runner.os}} server in GitHub"
    
    
    


